
$dark: #3D4043;
$secondary: #7EE5DD;
$headings-font-family: 'Poppins', sans-serif;
$body-color: black;
$body-bg: rgb(237, 237, 237);

@import "./partials/base";
@import "./partials/layout";
@import "./partials/product";
@import "./partials/modal";